$btn-bg: #A0D2EE;
$btn-bg-hover: darken($btn-bg, 30%);

.reg {
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
  }
}
.block {
  &__text {
    flex: 0 1 40%;
    &--img {
      width: 419px;
    }
  }
  &__form {
    flex: 0 1 60%;
    margin: 0px 0px 0px 70px;
    display: flex;
    justify-content: center;
  }
}
.form {
  width: 700px;
  text-align: center;
  background: url(../../images/registration/registration_bg.jpg) 0 0/cover no-repeat; 
  box-shadow: 0px 10px 40px rgba(9, 27, 37, 0.7);
  border-radius: 50px;
  padding: 70px 50px;
  &__input {
    width: 80%;
    padding: 21px 10px 17px 40px;
    background: #FFFFFF;
    border: none;
    box-shadow: 0px 10px 40px #959595;
    border-radius: 50px;
    margin: 0px 0px 80px 0px;
    &::placeholder {
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      color: #C4C4C4;   
      text-transform: uppercase;
    }
    &--last {
      margin: 0px 0px 128px 0px;
    }
  }
  &__btn {
    display: inline-block;
    background: $btn-bg;
    box-shadow: 0px 10px 40px #1d3340;
    border-radius: 50px;
    padding: 20px 49px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #165477;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      background: $btn-bg-hover;
      color: #ffffff;
      transition: all 0.3s ease 0s;
    }
  }
}